---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import Card from '../../components/Card.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 1000px;
				max-width: calc(100% - 2rem);
				margin: auto;
				padding: 2rem 0;
			}
			.blog-header {
				text-align: center;
				margin-bottom: 4rem;
			}
			.blog-header h1 {
				font-size: 4rem;
				color: var(--accent-purple);
			}
			ul {
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
				gap: 3rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			@media (max-width: 720px) {
				ul {
					grid-template-columns: 1fr;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section class="blog-header">
				<h1>todas nuestras historias</h1>
			</section>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<Card 
									id={post.id}
									title={post.data.title}
									pubDate={post.data.pubDate}
									heroImage={post.data.heroImage}
								/>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
